<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime minFreeThreads="399" minLocalRequestFreeThreads="96" targetFramework="4.7.2"/>
		<processModel autoConfig="False" maxIoThreads="100" maxWorkerThreads="100" minIoThreads="8" minWorkerThreads="50"/>
	</system.web>
	<system.webServer>
		<modules>
			<add name="PoshWeb" preCondition="managedHandler" type="PoshWeb.HttpModule"/>
		</modules>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="5000"/>
		</connectionManagement>
	</system.net>
</configuration>
